// 版心
.container{
  width: 1226px;
  margin: 0 auto;
}
$m: #ff6700;
html,body{
  #app{
     // 头部部分
     #header{
      // 头部-顶部栏
      .site-header{
        .container{
          // 顶部栏-导航栏
          .header-nav{
            .nav-list{
              .nav-category{
                // 顶部栏-二级菜单
                .site-category{
                  display: none;
                  top: 85px;
                  border: 1px solid $m;
                  .site-category-list{
                    background: #fff;
                    .category-item{
                      .category-link{
                        color: black;
                      }
                    }
                  }
                }
                &:hover .site-category{
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    // 主体部分
    #main{
      .container{
        // 主体-商品区
        .main-goods{
          margin-top: 30px;
          .goods-img{
          float: left;
            .swiper-container{
              width: 560px;
              height: 560px;
              .swiper-wrapper{
                .swiper-slide{
                  img{
                    width: 100%;
                  }
                }
              }
              .swiper-button-prev,.swiper-button-next{
                top: 50%;
                right: 10%;
              }
              .swiper-button-prev{
                left: 10%;
              }
            }
          }
          .goods-desc{
            float: left;
            margin-left: 20px;
            h2{
              margin: 0;
              padding: 0;
              font-size: 24px;
              font-weight: 400;
              color: #212121;
              line-height: 1.8;             
            }
            p{
              color: #b0b0b0;
              margin: 0;
              padding: 0;
              padding-top: 8px;
              line-height: 1.8;
            }
            .goods-price{
              display: block;
              font-size: 18px;
              line-height: 1.2;
              color: #ff6700;
              padding: 12px 0 10px;
              del{
                font-size: 14px;
                margin-left: 5px;
                color: #b0b0b0;
              }
            }
            .goods-url{
              margin: 30px 0;
              width: 600px;
              .url{
                padding: 30px 50px;
                position: relative;
                background: #fafafa;
                border: 1px solid #e0e0e0;
              }
            }
            .goods-type{
              h3{
                font-size: 18px;
              }
              p{
                width: 292px;
                height: 42px;
                color: $m;
                border: 2px solid $m;
                text-align: center;
                line-height: 36px;
                margin-top: 20px;
                font-size: 16px;
              }
            }
            .goods-all{
              margin-top: 20px;
              background: #f9f9fa;
              padding: 30px;
              margin-bottom: 30px;
              .all-t{
                span{
                  font-size: 14px;
                }
                em{
                  float: right;
                  color: #616161;
                }
              }
              .all-b{
                font-size: 24px;
                padding-top: 20px;
                color: $m;
              }
            }
            .goods-buy{
              margin: 10px 0 20px 0;
              .buy-add{
                margin-right: 10px;
                display: inline-block;
                a{
                  display: inline-block;
                  text-align: center;
                  width: 298px;
                  height: 52px;
                  line-height: 52px;
                  font-size: 16px;
                  color: #fff;
                  background-color: $m;
                }
              }
              .buy-like{
                display: inline-block;
                a{
                  display: inline-block;
                  text-align: center;
                  width: 140px;
                  height: 52px;
                  line-height: 52px;
                  font-size: 16px;
                  color: #fff;
                  background-color: #b0b0b0;
                }
              }
            }
            .goods-safeguard{
              margin-top: 30px;
              margin-bottom: 20px;
            }
          }
        }
        
      }
      // 主体-banner区
      .main-banner{
        background: #f5f5f5;
        padding-bottom: 40px;
      }
    }
  }
}